html 
 head 
  title Hello 
 body 
  h1 Welcome 
  p
   i How are you bro?
  //-Error in below line
  a(href="/5.html",target="_blank")|abc

  | Hello World!!! 
  pre.
   ABC 
   XYZ 
   PQR

  -var number=4
  h5="3 times number is "+number*3

  // ABCDEF
  //-PQRS   

  -const name="Divy"
  h3 Hi #{name}
