html 
 head 
  title Pug Task 
 body 
  h1 LJU 
  p let learn pug 
   i Thank you 
  p(style="color:pink")|LJU
  |The file will not properly if the programmer does not make sure of porper indentation
  ul 
   li Mango 
   li Watermelon 
   li Pineapple 

  p(style="color:red")
   b Hello 
  a(href='/about' target='_blank')|About 

  table(rules='all' style='color:red;border:1px')
   tr 
    th name 
    th id 
   tr 
    td abc 
    td 1
 
  -var num=3
   b="3 times number is"+num*3
   h4 I Like Black color 
   h4 Country:UK 
   ul
    li 1
    li 2
    li 3
    li 4

